<html style="overflow: auto!important;">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/{{mode}}.css">
    <script src="/assets/js/jquery.min.js"></script>
    <title>KGSACU CP</title>
    <style>
      form {
        all: unset;
      }
    </style>
  </head>
  <body>
    <div class="p-3 h-100 w-100">
      <h5>Location Settings </h5>
      <p>Please provide the Admin Return where you will recieve sub-units location data, and the serial where the grid reference is recorded.</p>
      <form action="../loc_settings" name="settings">
        <table>
          <tr>
            <td>Location Return</td>
            <td class="px-3"><input class="form-control form-control-sm" name="loc_return" value="{{map.locReturn}}" required/></td>
          </tr>
          <tr>
            <td>Location Serial</td>
            <td class="px-3"><input class="form-control form-control-sm" name="loc_serial" value="{{map.locSerial}}" required/></td>
          </tr>
        </table>
        <button type="submit" class="btn btn-sm theme-button">Save</button>
      </form>
      <br>
      <br>
      <h5>Map Settings </h5>
      <p class="mb-0">Please enter the precise bounds of the map provided.</p>
      <ul>
        <li class="mb-0">X bounds refers to the easting aligned to the western border of the map, and the easting alligned to the eastern border of the map. (Left then right)</li>
        <li class="mb-0">Y bounds refers to the northing aligned to the southern border of the map, and the northing alligned to the north border of the map. (Bottom then top)</li>
        <li>Please note, the image borders must be precisely aligned to these map bounds, otherwise grid references will not plot correctly.</li>
      </ul> 
      <form action="../map_settings" name="settings">
        <table>
          <tr>
            <td class="pe-3"><strong>X Bounds:</strong></td>
            <td>East:</td>
            <td class="px-3"><input class="form-control form-control-sm" name="east" value="{{map.east}}" required/></td>
            <td>West:</td>
            <td class="px-3"><input class="form-control form-control-sm" name="west" value="{{map.west}}" required/></td>
          </tr>
          <tr>
            <td class="pe-3"><strong>Y Bounds:</strong></td>
            <td>South:</td>
            <td class="px-3"><input class="form-control form-control-sm" name="south" value="{{map.south}}" required/></td>
            <td>North:</td>
            <td class="px-3"><input class="form-control form-control-sm" name="north" value="{{map.north}}" required/></td>
          </tr>
        </table>
        <button type="submit" class="btn btn-sm theme-button">Save</button>
      </form>
      <br>
      <br>
      <h5>Map Image</h5>
      <table>
        <tr>
          {{#if map.file}}
            <td colspan="3">Current Map: <a href="/assets/maps/{{map.file}}" target="_blank">{{map.file}}</a></td>
          {{else}}
            <td colspan="3">Current Map: No map uploaded</td>
          {{/if}}
        </tr>
        <tr >
          <td class="pt-3" colspan="2">Upload new map:</td>
        </tr>
        <form action="/upload_map" method="POST" enctype="multipart/form-data" name="map_upload" >
          <tr>
            <td colspan="2" class="py-2">
              <input class="form-control form-control-sm" name="map" type="file" id="map-file" required>
            </td>
            <td class="px-2"><button type="submit" id="upload-map" class="btn btn-sm theme-button">Upload Map</button></td>
          </tr>
        </form>
      </table>
    </div>
    <div id="confirmation-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="modal-title" class="modal-title">Confirm Reset</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you would like to reset the log? This action cannot be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" id="confirm-reset" class="btn btn-primary">Reset</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/helpers.js"></script>
    <script src="/assets/js/settings/general.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>
    {{#if toast}}
      <script>
        parent.setToastText('{{toast}}')
        parent.showToasts()
      </script>
    {{/if}}
  </body>
</html>