<html style="overflow: scroll!important;">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <title>KGSACU CP</title>
  </head>
  <body>
  <div class="p-3">
    {{#with log}}
    <h2>{{ transmission_type }}</h2>
    <table>
      <thead>
        <tr>
          <td>Log ID:</td>
          <td>{{ id }}</td>
        </tr>
        <tr>
          <td>From:</td>
          <td>{{ sender }}</td>
        </tr>
        <tr>
          <td>To:</td>
          <td>{{ reciever }}</td>
        </tr>
        <tr>
          <td>Time Sent:</td>
          <td>{{ dtg }}</td>
        </tr>
        <tr>
          <td class="head_column">Duty Officer:</td>
          <td class="return_data">{{ duty_officer }}</td>
        </tr>
        <tr>
          <td>Net:</td>
          <td>{{ net }}</td>
        </tr>
      </thead>
    </table>
    <br>
    {{/with}}
    <table>
    {{#each log.transmission_data}}
      <tr>
        <td>{{ @key }}:</td>
        <td>{{ this }}</td>
      </tr>
    {{/each}}
  </table>
  </div>

  </body>

</html>