<html style="overflow: auto!important;">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/{{mode}}.css">   
    <script src="/assets/js/jquery.min.js"></script>
    <title>KGSACU CP</title>
    <style>
      td, th {
        white-space: pre-wrap;
        padding: 0.25rem 0.5rem;
        vertical-align: top
      }

    </style>
  </head>
  <body>
  <div class="p-3">
    {{#with log}}
    <h2>{{ transmission_type }}</h2>
    <table>
      <thead>
        <tr>
          <th>Log ID:</th>
          <th>{{ id }}</th>
        </tr>
        <tr>
          <th>From:</th>
          <th>{{ sender }}</th>
        </tr>
        <tr>
          <th>To:</th>
          <th>{{ reciever }}</th>
        </tr>
        <tr>
          <th>Time Sent:</th>
          <th>{{ addLeadingZero dtg }}</th>
        </tr>
        <tr>
          <th class="head_column">Duty Officer:</th>
          <th class="return_data">{{ duty_officer }}</th>
        </tr>
        <tr>
          <th>Net:</th>
          <th>{{ net }}</th>
        </tr>
      </thead>
    </table>
    <br>
    {{/with}}
    <table>
    {{#each log.transmission_data}}
      <tr>
        <td>{{ @key }}:</td>
        <td>{{ this }}</td>
      </tr>
    {{/each}}
  </table>
  </div>
  {{#if print}}
  <script>
    $(document).ready(function() {
      window.print()
    });
  </script>
  {{/if}}
  </body>

</html>