<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLE 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
  </head>
  <body>
    <form>
      <div class="container-fluid">
        <h3>
          {{transmission.transmission}}
        </h3>
        
        <table>
          {{#each transmission.serials}}
            <tr>
              <td><strong>{{serial}}</strong></td>
              <td>
                {{#ifEquals type 'short'}}
                  <input type="text" class="form-control">
                {{/ifEquals}}
                {{#ifEquals type 'long'}}
                  <textarea class="form-control" rows="3"></textarea>
                {{/ifEquals}}
                {{#ifEquals type 'loc'}}
                  <input type="text" class="form-control">
                {{/ifEquals}}
                {{#ifEquals type 'option'}}
                  {{#each options}}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="{{this}}-radio">
                      <label class="form-check-label" for="{{this}}-radio">
                        {{this}}
                      </label>
                    </div>
                  {{/each}}
                {{/ifEquals}}
              </td>
              <td>{{description}}</td>
            </tr>
          {{/each}}
        </table>
        {{!-- <div class="fixed-bottom bg-light">
          footer
        </div> --}}
      </div>
    </form>
    <script src="assets/bootsrap/js/bootstrap.min.js"></script>
  </body>
</html>